html,body{
    height: 100%;
}
.cardSelf{
    position: absolute;


    top:100% !important;

}
.cardHead{
    position:relative;
    padding:0px !important;
    margin: 0 !important;
    height:60px;
}
.logo{
    height:40%;
    position:relative;
    top:30%;
    left:50%;
    transform: translateX(-50%);

}
input{
    height:100% !important;
    border-radius: 4px !important;
    margin: .2em  !important;
    margin-bottom: 6px;
    padding: 0.1rem !important;
}
.form-group{
    margin-top:0.5rem !important;
    margin: 0 !important;
    padding: 0 !important;
}
.log{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    transform: translateX(-50%);
    top:12px;
    left: 50%;
}
#remember{
    margin-left:-20px !important;
}
#submitty{
    transform: translateX(25%);
}
#forgot{
    transform: translateX(-10%);
}
.pi{
    font-family: 'Roboto', sans-serif;
    position:absolute;
    top:25%;
    left:50;
}
.buttoni{
    margin-top: 10px !important;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    .cardSelf{
        position: absolute;

        top:20% !important;
    }

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    .cardSelf{
        position: absolute;

        top:20% !important;
    }

}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    .cardSelf{
        position: absolute;

        top:70% !important;

    }
}