/* .cardSelf{

    width:60%;
    margin-left:20% ;
    top:100%;

} */
.cardHead{
    position:relative;
    padding:0px !important;
    margin: 0 !important;
    height:60px;
}
/* .logo{
    height:40%;
    position:relative;
    top:30%;
    left:50%;
    transform: translateX(-50%);

} */
input{
    height:70% !important;
    border-radius: 4px !important;
    margin: .2em  !important;
    padding: 0.1rem !important;
}
.form-group{
    margin-top:0.5rem !important;
    margin: 0 !important;
    padding: 0 !important;
}

