.cardSelf{

    width:60%;
    margin-left:20% ;
    top:113% !important;

}
.cardHead{
    position:relative;
    padding:0px !important;
    margin: 0 !important;
    height:60px;
}
.logo{
    height:40%;
    position:relative;
    top:30%;
    left:50%;
    transform: translateX(-50%);

}
input{
    height:70% !important;
    border-radius: 4px !important;
    margin: .2em  !important;
    padding: 0.1rem !important;
}
.form-group{
    margin-top:0.5rem !important;
    margin: 0 !important;
    padding: 0 !important;
}
.log{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    transform: translateX(-50%);
    top:12px;
    left: 50%;
}
#remember{
    margin-left:-20px !important;
}
#submitty{
    transform: translateX(25%);
}
#forgot{
    transform: translateX(-10%);
}
.servicios{
    width: 100px;
    height: 100px;
    background-color: royalblue;
}
.outService{
    display: flex;
    justify-content: center;
    position:absolute;
}
.rowi{
    position:relative;
}
.rela{
    position:relative !important;
}
.rela2{
    position:relative !important;
    padding-top:10px;
}
.mid{
    height:48%;
}
.reparacion{
    text-align: center;
}
.reparacionImg{
    display:block;
    margin-left:50%;
    transform: translateX(-50%);
}
.p_1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
.hosting{
    text-align: center;
}
.hostingImg{
    display:block;
    margin-left:50%;
    transform: translateX(-50%);
}
.markeeting{
    text-align: center;
}
.marketingImg{
    display:block;
    margin-left:50%;
    transform: translateX(-50%);
}
.linkMe, .linkMe>a{
    text-decoration: none !important;
    color:#212529;
}